﻿body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

.voffset2 {
    margin-top: 2px;
}

.voffset5 {
    margin-top: 5px;
}

.voffset10 {
    margin-top: 10px;
}

.voffset20 {
    margin-top: 20px;
}

.voffset40 {
    margin-top: 40px;
}


/* Bootstrap Overrides*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.popover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(205, 40, 39, 0.55);
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .notifications {
    position: relative;
}

.navbar-inverse .notifications .badge {
    position: absolute;
    top: 8px;
    right: -1px;
    background: #a80808;
}

.navbar-brand {
    font-weight: 700;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    height: 44px;
}

.form-control:focus {
    border-color: #2196f3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Page-level styles */
.gigs {
    > li {
        position: relative;
        margin-bottom: 30px;
        list-style: none;

        .date {
            background: red;
            color: white;
            text-align: center;
            width: 60px;
            border-radius: 8px;

            .month {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                padding: 2px 6px;
            }

            .day {
                background: #f7f7f7;
                color: #333;
                font-size: 20px;
                padding: 6px 12px;
            }
        }

        .details {
            position: absolute;
            top: 0;
            left: 70px;

            .artist {
                font-weight: bold;
                display: block;
            }

            .genre {
                font-size: 14px;
                display:block;
                margin-bottom:4px;
            }
        }

        .actions {
            font-size: 15px;
            display: none;
        }
    }

    > li:hover {
        .actions {
            display: block;
        }
    }
}

.gig-details{
    .header{
        font-size:x-large;
    }
}

.artist {
    > li {
        margin-bottom: 30px;
        list-style: none;

        .artist {
            font-weight: bold;
            display: block;
        }
    }
}

.popover-notifications {
    .popover-content {
        padding: 0;
    }

    ul.notifications {
        list-style: none;
        padding-left: 0;

        > li {
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }

        > li:last-child {
            border-bottom: none;
        }

        .highlight {
            font-weight: bold;
        }
    }
}

#searchGigs{
    width:300px;
}
