﻿@model GigHub.Core.ViewModels.Gigs.GigDetailsViewModel
@{
    ViewBag.Title = "GigDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="gigDetails">
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {
        <button data-followee-id="@Model.Gig.ArtistId" class="btn @(Model.IsFollowing ? "btn-info" : "btn-default") js-toggle-following">@(Model.IsFollowing ? "Following" : "Follow")</button>
    }
</h2>
<p>@Model.Details</p>
@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event</p>
}
@section scripts{
    <script>
        $(document).ready(function () {
            GigDetailsController.init("#gigDetails");
        })


    </script>
}


