﻿@model IEnumerable<GigHub.Core.Models.Gig>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Gigs</h2>

<ul class="gigs voffset40">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Venue
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit","Gigs",new { id = gig.Id})">
                        Edit
                    </a>
                    |
                    <a href="" data-gig-id="@gig.Id" class="js-cancel-gig">
                        Cancel
                    </a>
                </div>
            </div>
        </li>
    }
</ul>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".js-cancel-gig").click(function (e) {
                e.preventDefault();

                bootbox.confirm({
                    title: "Confirm",
                    message: "Are you sure you want to cancel this gig?",
                    buttons: {
                        cancel: {
                            label: "No"
                        },
                        confirm: {
                            label: "Yes",
                            className: "btn-danger"
                        }
                    },
                    callback: function (result) {

                        if (result) {
                            var link = $(e.target);
                            var gigId = link.attr("data-gig-id");

                            $.post("/api/gigs", { gigId: link.attr("data-gig-id") })
                                .done(function () {
                                    link.parents("li").fadeOut(function () {
                                        $(this).remove();
                                    });
                                })
                                .fail(function (error) {
                                    //console.log(error);
                                    alert("Something went wrong.")
                                });
                        }

                    }
                });

            });
        });
    </script>
}
