﻿@model GigHub.Core.ViewModels.Following.FollowingsViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artists I'm Following</h2>

<ul class="artists">
    @foreach (var artist in Model.Artists)
    {
        <li>
            <span class="artist">
                @artist.Name
                @if (Model.ShowActions)
                {
                    @*<button data-followee-id="@gig.ArtistId" class="btn btn-link btn-sm js-toggle-following">Follow</button>*@
                    <button class="btn btn-link btn-sm js-toggle-following">Follow</button>
                }

            </span>
        </li>
    }
</ul>