﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GigHub</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add a Gig", "Create", "Gigs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications,function(notification){
            if(notification.type == 1){%>
            <li><span class="highlight"><%= notification.gig.artist.name %></span> has canceled the gig at <%= notification.gig.venue %> at <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %></li>
            <%}
            else if(notification.type == 2){
            var changes = [],
            originalValues = [],
            newValues = [];

            if(notification.originalVenue != notification.gig.venue){
            changes.push('venue');
            originalValues.push(notification.originalVenue);
            newValues.push(notification.gig.venue);
            }

            if(notification.originalDateTime != notification.gig.dateTime){
            changes.push('date/time');
            originalValues.push(moment(notification.originalDateTime).format("D MMM HH:mm"));
            newValues.push(moment(notification.gig.dateTime).format("D MMM HH:mm"));
            }

            %>

            <li><span class="highlight"><%=notification.gig.artist.name%></span> has changed the <%= changes.join(' and ') %> of the gig from <%= originalValues.join('/') %> to <%= newValues.join('/') %></li>
            <%

            }
            })
            %>
        </ul>
    </script>
    <script>
        $(document).ready(function () {
            var badge = $(".js-notifications-count");

            $.getJSON("/api/notifications", function (notifications) {
                if (notifications.length == 0) {
                    return;
                }

                badge
                    .removeClass("hide")
                    .text(notifications.length)
                    .addClass("animated bounceInDown");

                $(".notifications") .popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        var html = compiled({ notifications: notifications });
                        return html;
                    },
                    placement: 'bottom',
                    template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                }).on("shown.bs.popover", function () {
                    $.post("/api/notifications", function () {
                        badge
                            .text("")
                            .addClass("hide");
                    });
                    console.log("Popup Shown");
                });
            })


        });
    </script>
</body>
</html>
