﻿@using GigHub.Core.ViewModels.Gigs
@using Microsoft.AspNet.Identity
@model GigsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", @placeholder = "Search by artist, genre or location..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}
<ul id="gigs" class="gigs voffset40">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    <a href="@Url.Action("Details","Gigs", new { @id = gig.Id })">@gig.Artist.Name</a>
                    @if (gig.IsCancelled)
                    {
                        <span class="label label-warning">Cancelled</span>
                    }
                   
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && !gig.IsCancelled)
                {
                    var userAttendingGig = Model.UserAttendances.Contains(gig.Id);
                    <button data-gig-id="@gig.Id"
                            class="btn @(userAttendingGig? "btn-info" : "btn-default") btn-sm js-toggle-attendance">

                        @(userAttendingGig ? "Going" : "Going?")
                    </button>

                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            GigsController.init("#gigs");
        })        
    </script>
}
